@use '../../../variables.scss';

figure {
  margin: 0
}

a {
  text-decoration: none;
  color: white;
}

.mat-subheading-1 {
  margin: 0 0 5px;
}

.mat-list-item, .color-coded-indicator {
  height: auto !important; // overrides mat list item set height
}

.notification {
  width:100%;
  display: grid;
  grid-template-columns: 8px 1fr 12fr 68px;
  grid-template-rows: 1fr;
  gap: 1px 3px;
  grid-template-areas: ". . . . .";
}

.color-coded-indicator {
  width: 8px;
}

.open {
  background: variables.$green;
}

.closed {
  background: variables.$red;
}

.notification-icon {
  font-size: 22px;
  opacity: 35%;
  margin: 0px auto;
}