.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .weather-icon  {
    width: 80px;
    margin: 20px auto;
    
    & > i {
      font-size: 80px;
    }
  }
}

.mat-chip i {
  margin: 6px;
}