.mat-icon {
  font-size: 36px;
  height: 36px;
  width: 36px;
  margin: 5px
}

p {
  display: flex;
  align-items: center;
}

.green {
  color: #507250; // TODO: make variables for this
}

.red {
  color: #864747; // TODO: make variables for this
}

.yellow {
  color: #b3b156; // TODO: make variables for this
}
