@use '../../variables.scss';

.mat-icon {
  font-size: 36px;
  height: 36px;
  width: 36px;
  margin: 5px
}

p {
  display: flex;
  align-items: center;
}

.green {
  color: variables.$green;
}

.red {
  color: variables.$red;
}

.yellow {
  color: variables.$yellow;
}
