<main>
  <card class="grid-column-one-third grid-row-one" title="Corona Virus" subtitle="Last checked 3 minutes ago">
    <chart></chart>
  </card>
  <card title="Statuses" subtitle="Last checked 23minutes ago">
    gonna see where this foes
  </card>
  <card title="Weather" subtitle="Arvada, Colorado">
    gonna see where this foes
  </card>
  <card class="grid-column-two-four" title="Github Notifications" subtitle="activity thread">
    gonna see where this foes
  </card>
  <card title="Twitter" subtitle="Last checked 23minutes ago">
    gonna see where this foes
  </card>
  <card title="Reddit" subtitle="Last checked 23minutes ago">
    gonna see where this foes
  </card>
  <card title="Notes" subtitle="jot down anything you need">
    gonna see where this foes
  </card>
</main>