<main>
  <!-- <covid-stats class="grid-column-one-third grid-row-one"></covid-stats> -->

  <card title="Statuses" subtitle="Last checked 23minutes ago">
    gonna see where this foes
  </card>
  <card title="Weather" subtitle="Arvada, Colorado">
    gonna see where this foes
  </card>

  <github-notifications class="grid-column-two-four"></github-notifications>

  <card title="Twitter" subtitle="Last checked 23minutes ago">
    gonna see where this foes
  </card>
  <card title="Reddit" subtitle="Last checked 23minutes ago">
    gonna see where this foes
  </card>
  <card title="Notes" subtitle="jot down anything you need">
    gonna see where this foes
  </card>
</main>
